@{
    ViewData["Title"] = "Home Page";
}

<style>
	.container{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		align-content:center;
	}
	.info{
		margin: auto;
		width: 50%;
		padding: 10px;
		text-align:justify;
	}
	img {
		border: 1px solid  rgb( 21, 131, 252 );
		border-radius: 4px;
		padding: 5px;
		width: 150px;
		filter: grayscale(30%);
	}
	img:hover {
	  box-shadow: 0 0 2px 1px rgba( 21, 131, 252, 0.9);
	}
</style>
<main class="container">
	<section role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
		<article align="center" role="presentation" style="padding:0;width:602px;border-collapse:collapse;border:1px solid #cccccc;border-spacing:0;text-align:left;">
			<div align="center" style="padding:40px 0 30px 0;background:rgba( 39, 55, 70 ,0.4);">
				<img src="https://latinoseguros.com.mx/sitio2021/wp-content/uploads/2021/02/%C2%BFQue-significa-ser-una-aseguradora-multirramo.png" alt="Image_Aseguradora" width="300" style="display:block;height:40vh;width:40vw;border-radius:10%" />
			</div>
		</article>
		<article style="border-collapse:collapse;border:0;border-spacing:0;" role="presentation" >
			<h1 style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;text-align:center">¡BIENVENIDO!</h1>
			<div style="" class="info">
				<p style="font-size:16px;line-height:24px;font-family:Arial,sans-serif;">Bienvenido al Sitio Web para Aseguradoras</p>
			</div>
		</article>
		<article style="border-collapse:collapse;border:0;border-spacing:0;" role="presentation">
			<div style="color:#153643;" class="info">
				<p style="font-size:16px;line-height:24px;font-family:Arial,sans-serif;padding-left:20px;"><img src="https://assets.codepen.io/210284/left.gif" alt="" style="height:auto;display:block;height:20vh;width:20vw;" /></p>
				<p style="line-height:24px;font-family:Arial,sans-serif;text-align:center;">Mas información , click en el enlace.</p>
				<p style="font-size:16px;line-height:24px;font-family:Arial,sans-serif;text-align:center"><a href="http://www.example.com" style="color:#ee4c50;text-decoration:underline;">Ir..</a></p>
			</div>
		</article>
		<article  style="width:260px;padding:0;vertical-align:top;color:#153643;">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15051.254131219444!2d-99.15669625!3d19.42046105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fed781542337%3A0xb04fa69e27caed71!2sDoctores!5e0!3m2!1ses!2smx!4v1657552397112!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</article>

	</section>
</main>
